:root {
  --color-primary: #1abc9cff;
  --color-secondary: #3498dbff;
  --color-background: #2c3e50ff;
  --color-text: #ecf0f1ff;
  --color-accent: #2ecc71ff;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* ... Otras partes del código ... */

.button-shadow {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

#resultado {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  background-color: var(--color-secondary);
  color: var(--color-background);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
